@use '_lets';
@use './blocks/_mainMenu';
@use './blocks/side';
@use './blocks/cell';
@use './blocks/winn';

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


body{
    background: lets.$bg;
    margin: 0;  
     
}

#main{
    display: flex;
    flex-direction: column;
}