// _cell.scss

.row{
    display: flex;
    justify-content: center;
}
.cell{
    width: 100px;
    height: 100px;
    background: #fff;
    border: 1px solid #000;

    font-size: 80px;
    text-align: center;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    &:hover{
        box-shadow: 0 0 40px 40px red inset;
    }
}