// _cell.scss

.row{
    display: flex;
    justify-content: center;
}
.cell{
    width: 100px;
    height: 100px;
    background: #fff;
    border: 1px solid #000;

    font-size: 80px;
    text-align: center;
}