// _side.scss

@use '../lets';

.side{
    display: flex;
    justify-content: center;
    height: 100px;
    font-size: 72px;
    font-weight: 700;
    margin: 15px;

    border-radius: 50%;
    color: #fff;
    background: lets.$bg;
    border: none;
    cursor: pointer;
}